<% layout('/layout/default.html', {title: '工时表', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-cubes"></i> 工时表
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
				<% if(hasPermi('work:taskTime:edit')){ %>
					<a href="/work/taskTime/form" class="btn btn-default btnTool"  title="新增工时表"><i class="fa fa-plus"></i> 新增</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<form id="searchForm" action="${ctx}/work/taskTime/listData" method="post" class="form-inline hide" >
				<div class="form-group">
					<label class="control-label">归属用户：</label>
					<div class="control-inline">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">归属部门：</label>
					<div class="control-inline">
					</div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>			
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'星期一', name:'monday', index:'a.monday', width:90, align:"center"},
		{header:'星期二', name:'tuesday', index:'a.tuesday', width:90, align:"center"},
		{header:'星期三', name:'wednesday', index:'a.wednesday', width:90, align:"center"},
		{header:'星期四', name:'thursday', index:'a.thursday', width:90, align:"center"},
		{header:'星期五', name:'friday', index:'a.friday', width:90, align:"center"},
		{header:'星期六', name:'saturday', index:'a.saturday', width:90, align:"center"},
		{header:'星期日', name:'sunday', index:'a.sunday', width:90, align:"center"},
		{header:'更新时间', name:'updateDate', index:'a.update_date', width:90, align:"center"},
		{header:'备注信息', name:'remarks', index:'a.remarks', width:90, align:"center"},
		{header:'操作', name:'actions', width:100, sortable:false, title:false, align:"center",formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('work:taskTime:edit')){ %>
				actions.push('<a href="/work/taskTime/form?id='+row.id+'" class="btnList" title="编辑工时表"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/work/taskTime/delete?id='+row.id+'" class="btnList" title="删除工时表" data-confirm="确认要删除该工时表吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

</script>