<% layout('/layout/default.html', {title: '有票报销', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-cubes"></i> 有票报销
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
				<% if(hasPermi('baoxiao:gokData:edit')){ %>
					<a href="/baoxiao/gokData/form" class="btn btn-default btnTool"  title="新增有票报销"><i class="fa fa-plus"></i> 新增</a>
				<% } %>
				<a href="${ctx}/baoxiao/gokData/export" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a>
			</div>
		</div>
		<div class="box-body">
			<form id="searchForm" action="${ctx}/baoxiao/gokData/listData" method="post" class="form-inline hide" >
				<div class="form-group">
					<label class="control-label">报销时间：</label>
					<div class="control-inline">
						<input name="baoxiaoshijian"  maxlength="64" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">报销人：</label>
					<div class="control-inline">
						<input name="baoxiaoren"  maxlength="64" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">摘要：</label>
					<div class="control-inline">
						<input name="zhaiyao"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">报销类别：</label>
					<div class="control-inline">
						<#form:select path="baoxiaoleibie" name="label" data="getDictList:baoxiaoleibie" class="form-control " />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">报销金额：</label>
					<div class="control-inline">
						<input name="baoxiaojine"  maxlength="255" class="form-control"/>
					</div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>			
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
//初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'项目归属', name:'xiangmuguishu', index:'a.xiangmuguishu', width:90, align:"center"},
		{header:'报销时间', name:'baoxiaoshijian', index:'a.baoxiaoshijian', width:90, align:"center"},
		{header:'报销人', name:'baoxiaoren', index:'a.baoxiaoren', width:90, align:"center"},
		{header:'摘要', name:'zhaiyao', index:'a.zhaiyao', width:90, align:"center"},
		{header:'报销类别', name:'baoxiaoleibie', index:'a.baoxiaoleibie', width:90, align:"center"},
		{header:'报销金额', name:'baoxiaojine', index:'a.baoxiaojine', width:90, align:"center"},
		{header:'归属部门', name:'office.name', index:'a.office_id', width:90, align:"center"},
		{header:'更新时间', name:'updateDate', index:'a.update_date', width:90, align:"center"},
		{header:'操作', name:'actions', width:100, sortable:false, title:false, align:"center",formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('baoxiao:gokData:edit')){ %>
				actions.push('<a href="/baoxiao/gokData/form?id='+row.id+'" class="btnList" title="编辑有票报销"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/baoxiao/gokData/delete?id='+row.id+'" class="btnList" title="删除有票报销" data-confirm="确认要删除该有票报销吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

</script>