<% layout('/layout/default.html', {title: '指标系统详情', libs: ['validate', 'icheck']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-pencil-square-o"></i> ${zhibiaoxit.isNewRecord?'新增指标系统':'编辑指标系统'}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${zhibiaoxit}" action="${ctx}/zb/zhibiaoxit/save" method="post" class="form-horizontal">
			<div class="box-body">
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 序号：
							</label>
							<div class="col-sm-8">
								<#form:input path="xuhao"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 提出时间：
							</label>
							<div class="col-sm-8">
								<#form:input path="tichushijian"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 模块/页面：
							</label>
							<div class="col-sm-8">
								<#form:input path="mokuaiyemian"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 需求描述：
							</label>
							<div class="col-sm-8">
								<#form:input path="xuqiumiaoshu"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 优先级：
							</label>
							<div class="col-sm-8">
								<#form:input path="youxianji"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 处理状态：
							</label>
							<div class="col-sm-8">
								<#form:input path="chulizhuangtai"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 邮件：
							</label>
							<div class="col-sm-8">
								<#form:input path="youjian"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 备注信息：
							</label>
							<div class="col-sm-8">
								<#form:textarea path="remarks" rows="4"  maxlength="255" class="form-control input-xxlarge "/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('zb:zhibiaoxit:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="window.parent.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>

<script type="text/javascript">
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == 'true'){
					window.parent.closeCurrentTabPage(window.parent.refreshTab);
				}
			});
	    }
	});
</script>
