<% layout('/layout/default.html', {title: '人事面试记录', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-cubes"></i> 人事面试记录
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="查询"><i class="fa fa-filter"></i> 查询</a>
				<% if(hasPermi('gok:gokHrmianshi:edit')){ %>
					<a href="/gok/gokHrmianshi/form" class="btn btn-default btnTool"  title="新增人事面试记录"><i class="fa fa-plus"></i> 新增</a>
					<div class="btn-group">
						<a href="javascript:" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-navicon"></i> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="${ctx}/gok/gokHrmianshi/export" id="btnExport"><i class="glyphicon glyphicon-export"></i> 导出</a></li>
							<li><a href="javascript:" id="btnImport"><i class="glyphicon glyphicon-import"></i> 导入</a></li>
						</ul>
					</div>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<form id="searchForm" action="${ctx}/gok/gokHrmianshi/listData" method="post" class="form-inline hide" >
				<div class="form-group">
					<label class="control-label">沟通时间：</label>
					<div class="control-inline">
						<input id="goutongshijian" name="goutongshijian" maxlength="20" readonly="readonly" class="form-control "
							value="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false});" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">姓名：</label>
					<div class="control-inline">
						<input name="xingming"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">学历：</label>
					<div class="control-inline">
						<#form:select path="xueli" name="label" data="getDictList:学历" class="form-control " />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">毕业院校：</label>
					<div class="control-inline">
						<input name="biyeyuanxiao"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">专业：</label>
					<div class="control-inline">
						<input name="zhuanye"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">毕业时间：</label>
					<div class="control-inline">
						<input name="biyeshijian"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">工作年限：</label>
					<div class="control-inline">
						<input name="gongzuonianxian"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">求职岗位：</label>
					<div class="control-inline">
						<input name="qiuzhigangwei"  maxlength="255" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">当前状态：</label>
					<div class="control-inline">
						<#form:select path="dangqianzhuangtai" name="label" data="getDictList:当前状态" class="form-control " />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">是否接受驻点：</label>
					<div class="control-inline">
						<#form:select path="shifoujieshouzhudian" name="label" data="getDictList:是否接受驻点" class="form-control " />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">面试结果：</label>
					<div class="control-inline">
						<input name="mianshijieguo"  maxlength="255" class="form-control"/>
					</div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">查询</button>
					<button type="reset" class="btn btn-default btn-sm">重置</button>
				</div>
			</form>			
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script type="text/javascript">
	$('#btnImport').click(function(){
		js.layer.open({
			type: 1,
			area: ['400px'],
			title: '导入人事面试记录数据',
			resize: false,
			scrollbar: true,
			content: js.formatHtml('importTpl'),
			btn: ['<i class="fa fa-check"></i> 导入',
				'<i class="fa fa-remove"></i> 取消'],
            yes: function(index, layero){
				console.log(layero.find('#file').val());
				var form = {
					inputForm: layero.find('#inputForm'),
					file: layero.find('#file').val()
				};
			    if (form.file == '' || (!js.endWith(form.file, '.xls') && !js.endWith(form.file, '.xlsx'))){
			    	js.showMessage("文件不正确，请选择后缀为 “xls”或“xlsx”的文件。", null, 'warning');
			        return false;
			    }
				js.ajaxSubmitForm(form.inputForm, function(data){
					console.log(data);
					js.layer.closeAll();
					js.showMessage(data.message);
					page();
				});
				return true;
			},
            btn2: function(index, layero){
            }
		});
	});
</script>
<script id="importTpl" type="text">//<!--
<form id="inputForm" action="${ctx}/gok/gokHrmianshi/import" method="post" enctype="multipart/form-data"
	class="form-horizontal mt20 mb10" style="overflow:auto;max-height:200px;">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-1">
			<input type="file" id="file" name="file" class="form-file"/>
			<div class="mt10 pt5">
				<a href="${ctx}/gok/gokHrmianshi/import/template" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
			</div>
			<font color="red" class="pull-left mt10">
				提示：仅允许导入“xls”或“xlsx”格式文件！
			</font>
		</div>
	</div>
</form>
//--></script>
<script>
//初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'沟通时间', name:'goutongshijian', index:'a.goutongshijian', width:90, align:"center"},
		{header:'姓名', name:'xingming', index:'a.xingming', width:90, align:"center"},
		{header:'学历', name:'xueli', index:'a.xueli', width:90, align:"center"},
		{header:'毕业院校', name:'biyeyuanxiao', index:'a.biyeyuanxiao', width:90, align:"center"},
		{header:'专业', name:'zhuanye', index:'a.zhuanye', width:90, align:"center"},
		{header:'毕业时间', name:'biyeshijian', index:'a.biyeshijian', width:90, align:"center"},
		{header:'工作年限', name:'gongzuonianxian', index:'a.gongzuonianxian', width:90, align:"center"},
		{header:'求职岗位', name:'qiuzhigangwei', index:'a.qiuzhigangwei', width:90, align:"center"},
		{header:'薪资要求', name:'xinziyaoqiu', index:'a.xinziyaoqiu', width:90, align:"center"},
		{header:'联系方式', name:'lianxifangshi', index:'a.lianxifangshi', width:90, align:"center"},
		{header:'当前状态', name:'dangqianzhuangtai', index:'a.dangqianzhuangtai', width:90, align:"center"},
		{header:'其他要求', name:'qitayaoqiu', index:'a.qitayaoqiu', width:90, align:"center"},
		{header:'是否接受驻点', name:'shifoujieshouzhudian', index:'a.shifoujieshouzhudian', width:90, align:"center"},
		{header:'可驻点区域', name:'kezhudianquyu', index:'a.kezhudianquyu', width:90, align:"center"},
		{header:'邀约情况', name:'yaoyueqingkuang', index:'a.yaoyueqingkuang', width:90, align:"center"},
		{header:'推荐企业', name:'tuijianqiye', index:'a.tuijianqiye', width:90, align:"center"},
		{header:'预计到岗时间', name:'yujidaogangshijian', index:'a.yujidaogangshijian', width:90, align:"center"},
		{header:'面试结果', name:'mianshijieguo', index:'a.mianshijieguo', width:90, align:"center"},
		{header:'其他说明', name:'qitashuoming', index:'a.qitashuoming', width:90, align:"center"},
		{header:'更新时间', name:'updateDate', index:'a.update_date', width:90, align:"center"},
		{header:'备注信息', name:'remarks', index:'a.remarks', width:90, align:"center"},
		{header:'操作', name:'actions', width:100, sortable:false, title:false, align:"center",formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('gok:gokHrmianshi:edit')){ %>
				actions.push('<a href="/gok/gokHrmianshi/form?id='+row.id+'" class="btnList" title="编辑人事面试记录"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/gok/gokHrmianshi/delete?id='+row.id+'" class="btnList" title="删除人事面试记录" data-confirm="确认要删除该人事面试记录吗？"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

</script>