<% layout('/layout/default.html', {title: '能力标签详情', libs: ['validate', 'icheck']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-pencil-square-o"></i> ${nenglibiaoqian.isNewRecord?'新增能力标签':'编辑能力标签'}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${nenglibiaoqian}" action="${ctx}/gok/nenglibiaoqian/save" method="post" class="form-horizontal">
			<div class="box-body">
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 部门：
							</label>
							<div class="col-sm-8">
								<#form:treeselect id="bumenId" name="bumen.id" value="${nenglibiaoqian.bumen.id!}" labelName="bumen.name"
										labelValue="${nenglibiaoqian.bumen.name!}" title="部门" url="/sys/office/treeData?type=2" cssClass="" notAllowSelectParent="true" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 姓名：
							</label>
							<div class="col-sm-8">
								<#form:input path="xingming"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 电话：
							</label>
							<div class="col-sm-8">
								<#form:input path="dianhua"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 技能标签1：
							</label>
							<div class="col-sm-8">
								<#form:input path="jinengbiaoqian1"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签等级1：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqiandengji1"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签备注1：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqianbeizhu1"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 技能标签2：
							</label>
							<div class="col-sm-8">
								<#form:input path="jinengbiaoqian2"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签等级2：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqiandengji2"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签备注2：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqianbeizhu2"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 技能标签3：
							</label>
							<div class="col-sm-8">
								<#form:input path="jinengbiaoqian3"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签等级3：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqiandengji3"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签备注3：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqianbeizhu3"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 技能标签4：
							</label>
							<div class="col-sm-8">
								<#form:input path="jinengbiaoqian4"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签等级4：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqiandengji4"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 标签备注4：
							</label>
							<div class="col-sm-8">
								<#form:input path="biaoqianbeizhu4"  maxlength="255" class="form-control  "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
							 备注信息：
							</label>
							<div class="col-sm-8">
								<#form:textarea path="remarks" rows="4"  maxlength="255" class="form-control input-xxlarge "/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('gok:nenglibiaoqian:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="window.parent.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>

<script type="text/javascript">
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == 'true'){
					window.parent.closeCurrentTabPage(window.parent.refreshTab);
				}
			});
	    }
	});
</script>