<% layout('/layout/default.html', {title: '实训攻略详情', libs: ['validate', 'icheck']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-pencil-square-o"></i> ${sxDailyJob.isNewRecord?'新增实训攻略':'编辑实训攻略'}
			</div>
		</div>
		<#form:form id="inputForm" model="${sxDailyJob}" action="${ctx}/sx/sxDailyJob/save" method="post" class="form-horizontal">
		<div class="box-body">
			<div class="form-unit">基本信息</div>
			<#form:hidden path="id"/>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title=""> 上级菜单:</label>
						<div class="col-sm-8">
							<#form:treeselect id="parentId" name="parent.id" value="${sxDailyJob.parent.id!}" labelName="sxDailyJob.parent.name"
							labelValue="${sxDailyJob.parent.name!}" title="上级菜单" extId="${sxDailyJob.id}" url="/sx/sxDailyJob/treeData" notAllowSelectParent="true" />
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> 名称:<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="name" maxlength="64" class="form-control required " />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="点击菜单跳转的页面"> 链接:
							<i class="fa icon-question"></i></label>
						<div class="col-sm-8">
							<#form:input path="href" maxlength="500" class="form-control " />
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="该任务分数值"> 分值:
							<i class="fa icon-question"></i></label>
						<div class="col-sm-8">
							<#form:input path="target" maxlength="64" class="form-control " />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title=""> 图标:</label>
						<div class="col-sm-8">
							<#form:iconselect id="icon" name="icon" value="${sxDailyJob.icon}"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="排列顺序，升序。">
							<span class="required hide">*</span> 排序:<i class="fa icon-question hide"></i>
							<i class="fa icon-question"></i></label>
						<div class="col-sm-8">
							<#form:input path="sort" maxlength="64" class="form-control required " />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="该菜单或操作是否显示到系统菜单中">
							<span class="required hide">*</span> 模式:<i class="fa icon-question hide"></i>
							<i class="fa icon-question"></i>
						</label>
						<div class="col-sm-8">
							<#form:radio path="isShow" dictType="sx_daily_job_model" class="form-control required"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="分类"> 任务类别:
							<i class="fa icon-question"></i></label>
						<div class="col-sm-8">
							<#form:select path="permission" name="label" data="getDictList:job_type" class="form-control  " />
						</div>
					</div>
				</div>
			</div>

			<div class="form-unit">其它信息</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title=""> 备注信息：</label>
						<div class="col-sm-10">
							<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control input-xxlarge "/>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<% if (hasPermi('sx:sxDailyJob:edit')){ %>
					<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> 保 存</button>
					<% } %>
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="window.parent.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> 关 闭</button>
				</div>
			</div>
		</div>
		</#form:form>
	</div>
</div>
<% } %>

<script type="text/javascript">
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == 'true'){
					window.parent.closeCurrentTabPage(window.parent.refreshTab);
				}
			});
	    }
	});
</script>
